{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <div class="content-section">
        We as a community wants to help you manage your environment and enhance you to figure a good companion with you 
        in order to get their experience and see how they manage their life all of that in secure environment without any attacking or otherone seing your messages
        please support us to complete our mission <br/>
        Thank you: Mr {{ current_user.username }}
    </div>
{% endblock content %}